{% extends "layouts/container.html.twig" %}
{% set title = "Article" %}


{% block container_content %}
    <article class="article__element">
        <header>
            <h2 class="article__title">{{ article.title }}</h2>
            <div class="article__meta">
                <a class="link" href="/member/profil?user={{ article.idMember }}">{{ writer }}</a>
                <span>|</span>
                {% if article.creationDate == article.updateDate %}
                    <time datetime="{{ article.creationDate }}">Created the {{ article.creationDate | date("F jS, Y") }}</time>
                {% else %} 
                    <time datetime="{{ article.updateDate }}">Updated the {{ article.updateDate | date("F jS, Y") }}</time>
                {% endif %}
            </div>
        </header>
        <div>
            <p class="article__summary">{{ article.summary }}</p>
            <p class="article__text">{{ article.content }}</p>
        </div>
        <footer>
            <div class="comments__list">
                {% set commentsNumber = 0 %}
                {% for comments in commentsList %}
                    {% if comments.comment.idCommentStatus == 2 %}
                        {% set commentsNumber = commentsNumber + 1 %}
                    {% endif %}
                {% endfor %}
                <span>{{ commentsNumber }} comment(s)</span>
                {% for comments in commentsList %}
                    {% if comments.comment.idCommentStatus == 2 %}
                        <div class="comment">
                            <div class="comment__header">
                                <a class="link" href="/member/profil?user={{ comments.comment.idMember }}">{{ comments.user }}</a>
                                <span>|</span>
                                {{ comments.comment.creationDate | date("F jS, Y") }}
                            </div>
                            <p>Message : {{ comments.comment.content }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if commentsNumber == 0 %} 
                    <p>There are no comments.</span>
                {% endif %}
            </div>
        </footer>
    </article>
{% endblock %}